@font-face {
  font-family: 'HelveticaNeue-Thin';
  src:  url('../fonts/HelveticaNeue-Thin.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Light';
  src:  url('../fonts/HelveticaNeue-Light.ttf');
  font-weight: 300;
  font-style: normal;
}